<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rofe.dao.ScheduleinfoMapper" >
  <resultMap id="BaseResultMap" type="com.rofe.pojo.Scheduleinfo" >
    <id column="si_id" property="siId" jdbcType="BIGINT" />
    <result column="si_cl_code" property="siClCode" jdbcType="BIGINT" />
    <result column="si_ci_code" property="siCiCode" jdbcType="BIGINT" />
    <result column="si_tc_num" property="siTcNum" jdbcType="BIGINT" />
    <result column="si_time" property="siTime" jdbcType="TIMESTAMP" />
    <result column="si_extra_1" property="siExtra1" jdbcType="VARCHAR" />
    <result column="si_extra_2" property="siExtra2" jdbcType="VARCHAR" />
    <result column="si_index" property="siIndex" jdbcType="INTEGER" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="extendBaseResultMap" type="com.rofe.pojo.Scheduleinfo">
  	<association property="siCl" javaType="com.rofe.pojo.ClassInfo" column="si_cl_code" select="com.rofe.dao.ClassInfoMapper.selectById"></association>  
  	<association property="siCourse" javaType="com.rofe.pojo.ClassInfo" column="si_ci_code" select="com.rofe.dao.CourseMapper.selectById"></association> 
  	<association property="siTc" javaType="com.rofe.pojo.Teacher" column="si_tc_num" select="com.rofe.dao.TeacherMapper.selectById"></association> 
  </resultMap>
 
  <sql id="Base_Column_List" >
    si_id, si_cl_code, si_ci_code, si_tc_num, si_time, si_extra_1, si_extra_2, si_index
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from scheduleinfo
    where si_id = #{siId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from scheduleinfo
    where si_id = #{siId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rofe.pojo.Scheduleinfo" >
    insert into scheduleinfo (si_id, si_cl_code, si_ci_code, 
      si_tc_num, si_time, si_extra_1, 
      si_extra_2, si_index)
    values (#{siId,jdbcType=BIGINT}, #{siClCode,jdbcType=BIGINT}, #{siCiCode,jdbcType=BIGINT}, 
      #{siTcNum,jdbcType=BIGINT}, #{siTime,jdbcType=TIMESTAMP}, #{siExtra1,jdbcType=VARCHAR}, 
      #{siExtra2,jdbcType=VARCHAR}, #{siIndex,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rofe.pojo.Scheduleinfo" >
    insert into scheduleinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="siId != null" >
        si_id,
      </if>
      <if test="siClCode != null" >
        si_cl_code,
      </if>
      <if test="siCiCode != null" >
        si_ci_code,
      </if>
      <if test="siTcNum != null" >
        si_tc_num,
      </if>
      <if test="siTime != null" >
        si_time,
      </if>
      <if test="siExtra1 != null" >
        si_extra_1,
      </if>
      <if test="siExtra2 != null" >
        si_extra_2,
      </if>
      <if test="siIndex != null" >
        si_index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="siId != null" >
        #{siId,jdbcType=BIGINT},
      </if>
      <if test="siClCode != null" >
        #{siClCode,jdbcType=BIGINT},
      </if>
      <if test="siCiCode != null" >
        #{siCiCode,jdbcType=BIGINT},
      </if>
      <if test="siTcNum != null" >
        #{siTcNum,jdbcType=BIGINT},
      </if>
      <if test="siTime != null" >
        #{siTime,jdbcType=TIMESTAMP},
      </if>
      <if test="siExtra1 != null" >
        #{siExtra1,jdbcType=VARCHAR},
      </if>
      <if test="siExtra2 != null" >
        #{siExtra2,jdbcType=VARCHAR},
      </if>
      <if test="siIndex != null" >
        #{siIndex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rofe.pojo.Scheduleinfo" >
    update scheduleinfo
    <set >
      <if test="siClCode != null" >
        si_cl_code = #{siClCode,jdbcType=BIGINT},
      </if>
      <if test="siCiCode != null" >
        si_ci_code = #{siCiCode,jdbcType=BIGINT},
      </if>
      <if test="siTcNum != null" >
        si_tc_num = #{siTcNum,jdbcType=BIGINT},
      </if>
      <if test="siTime != null" >
        si_time = #{siTime,jdbcType=TIMESTAMP},
      </if>
      <if test="siExtra1 != null" >
        si_extra_1 = #{siExtra1,jdbcType=VARCHAR},
      </if>
      <if test="siExtra2 != null" >
        si_extra_2 = #{siExtra2,jdbcType=VARCHAR},
      </if>
      <if test="siIndex != null" >
        si_index = #{siIndex,jdbcType=INTEGER},
      </if>
    </set>
    where si_id = #{siId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rofe.pojo.Scheduleinfo" >
    update scheduleinfo
    set si_cl_code = #{siClCode,jdbcType=BIGINT},
      si_ci_code = #{siCiCode,jdbcType=BIGINT},
      si_tc_num = #{siTcNum,jdbcType=BIGINT},
      si_time = #{siTime,jdbcType=TIMESTAMP},
      si_extra_1 = #{siExtra1,jdbcType=VARCHAR},
      si_extra_2 = #{siExtra2,jdbcType=VARCHAR},
      si_index = #{siIndex,jdbcType=INTEGER}
    where si_id = #{siId,jdbcType=BIGINT}
  </update>
   <select id="getTcSchedule" resultMap="extendBaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scheduleinfo
    where si_tc_num = #{tcUserId,jdbcType=BIGINT}
  </select>
  <select id="getClassSchedule" resultMap="extendBaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scheduleinfo
    where si_cl_code = #{siClCode,jdbcType=BIGINT}
  </select>
   <select id="getStudentSchedule" resultMap="extendBaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scheduleinfo sch join studentinfo stu on sch.si_cl_code = stu.stu_class
    where stu_userId = #{stuId,jdbcType=BIGINT}
  </select>
  <select id="getTeacherSchedule" resultMap="extendBaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scheduleinfo 
    where si_tc_num = #{tcId,jdbcType=BIGINT}
  </select>
  <select id="isScheduleExist" resultType="java.lang.Long">
    select si_id from scheduleinfo where si_tc_num = #{tcUserId,jdbcType=BIGINT} and si_index = #{siIndex,jdbcType=BIGINT}
  </select>
   <delete id="deleteTcSchedule"  parameterType="java.lang.Long" >
    delete from scheduleinfo
    where si_cl_code = #{siClCode,jdbcType=BIGINT}
  </delete>
  <delete id="deleteScheduleInfoByCiCode"  parameterType="java.lang.Long" >
    delete from scheduleinfo
    where si_ci_code = #{siCiCode,jdbcType=BIGINT}
  </delete>
</mapper>